In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_stata("stanford data set/HCMST 2017 fresh sample for public sharing draft v1.1.dta")

In [12]:
df.head()

,CaseID,CASEID_NEW,qflag,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,weight_combo_freqwt,...,hcm2017q24_met_through_family,hcm2017q24_met_through_friend,hcm2017q24_met_through_as_nghbrs,hcm2017q24_met_as_through_cowork,w6_subject_race,interracial_5cat,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
0,2,2014039,Qualified,NaN,NaN,0.8945,NaN,NaN,0.277188,19240.0,...,no,no,no,no,White,no,12.0,14.0,12.0,14.0
1,3,2019003,Qualified,0.9078,71115.0,NaN,0.9026,70707.0,1.020621,70841.0,...,no,no,no,yes,White,no,12.0,16.0,17.0,17.0
2,5,2145527,Qualified,0.7205,56442.0,NaN,0.7164,56121.0,0.810074,56227.0,...,no,no,no,no,White,no,9.0,7.5,14.0,17.0
3,6,2648857,Qualified,1.2597,98682.0,1.3507,1.2524,98110.0,0.418556,29052.0,...,no,no,no,no,White,no,16.0,12.0,12.0,12.0
4,7,2623465,Qualified,0.8686,68044.0,NaN,0.8636,67652.0,0.976522,67781.0,...,no,no,yes,no,White,no,14.0,17.0,16.0,16.0

In [13]:
# Select features
df2 = df[["CASEID_NEW","ppage", "ppeduc", "ppethm", "ppgender", "ppwork"]]

In [14]:
df2.head()

,CASEID_NEW,ppage,ppeduc,ppethm,ppgender,ppwork
0,2014039,30,Associate degree,"White, Non-Hispanic",Male,Working - as a paid employee
1,2019003,55,Masters degree,"White, Non-Hispanic",Female,Not working - other
2,2145527,47,Masters degree,"White, Non-Hispanic",Male,Working - as a paid employee
3,2648857,28,12th grade NO DIPLOMA,"White, Non-Hispanic",Female,Not working - other
4,2623465,59,Bachelors degree,"White, Non-Hispanic",Female,Working - as a paid employee