In [4]:
import pandas as pd

In [21]:
dataset = pd.read_stata("stanford data set/HCMST 2017 fresh sample for public sharing draft v1.1.dta")
modified_dataset = dataset.copy()

In [22]:
modified_dataset.head()

,CaseID,CASEID_NEW,qflag,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,weight_combo_freqwt,...,hcm2017q24_met_through_family,hcm2017q24_met_through_friend,hcm2017q24_met_through_as_nghbrs,hcm2017q24_met_as_through_cowork,w6_subject_race,interracial_5cat,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
0,2,2014039,Qualified,NaN,NaN,0.8945,NaN,NaN,0.277188,19240.0,...,no,no,no,no,White,no,12.0,14.0,12.0,14.0
1,3,2019003,Qualified,0.9078,71115.0,NaN,0.9026,70707.0,1.020621,70841.0,...,no,no,no,yes,White,no,12.0,16.0,17.0,17.0
2,5,2145527,Qualified,0.7205,56442.0,NaN,0.7164,56121.0,0.810074,56227.0,...,no,no,no,no,White,no,9.0,7.5,14.0,17.0
3,6,2648857,Qualified,1.2597,98682.0,1.3507,1.2524,98110.0,0.418556,29052.0,...,no,no,no,no,White,no,16.0,12.0,12.0,12.0
4,7,2623465,Qualified,0.8686,68044.0,NaN,0.8636,67652.0,0.976522,67781.0,...,no,no,yes,no,White,no,14.0,17.0,16.0,16.0

In [23]:
modified_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3510 entries, 0 to 3509
Columns: 285 entries, CaseID to subject_yrsed
dtypes: category(243), float32(20), float64(18), int16(2), int32(1), int8(1)
memory usage: 1.7 MB

In [24]:
modified_dataset.describe()

,CaseID,CASEID_NEW,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,weight_combo_freqwt,duration,...,age_when_met,time_from_met_to_rel,year_fraction_first_cohab,time_from_rel_to_cohab,hcm2017_q24_length,hcm2017q24_summary_all_codes,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
count,3510.000000,3.510000e+03,2994.000000,2994.000000,551.000000,3110.000000,3110.000000,3510.000000,3510.000000,3510.000000,...,3341.000000,3263.000000,2630.000000,2578.000000,3394.000000,3295.000000,3323.000000,3378.000000,3383.000000,3510.000000
mean,2121.318803,2.181073e+06,0.999999,78337.460938,1.000003,1.000001,78337.601562,1.000000,69410.132812,267.449858,...,26.651003,1.597072,1995.073242,1.900667,182.912491,1.978756,12.138730,12.279752,14.033255,13.945868
std,1241.582562,6.401295e+05,0.285004,22326.515625,0.908374,0.289889,22709.197266,0.437515,30367.960938,1406.882283,...,11.831717,4.361366,16.026445,2.727197,237.105286,1.118986,3.309426,3.229575,2.544954,2.546054
min,2.000000,5.300100e+04,0.264700,20736.000000,0.190300,0.263200,20618.000000,0.058970,4093.000000,0.000000,...,0.000000,0.000000,1944.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1040.250000,1.825512e+06,0.808000,63297.000000,0.519650,0.805000,63062.000000,0.818612,56819.750000,8.000000,...,18.000000,0.000000,1983.208374,0.333374,54.000000,1.000000,12.000000,12.000000,12.000000,12.000000
50%,2118.500000,2.282692e+06,0.943900,73943.000000,0.713300,0.946750,74166.000000,1.012706,70292.000000,11.000000,...,23.000000,0.166748,1997.416748,1.000000,124.000000,2.000000,12.000000,12.000000,13.000000,13.000000
75%,3189.750000,2.759544e+06,1.142650,89512.250000,1.134700,1.145200,89712.250000,1.245077,86421.000000,19.000000,...,32.000000,1.083252,2009.291626,2.416626,222.750000,3.000000,13.000000,14.000000,16.000000,16.000000
max,4311.000000,2.972135e+06,2.671000,209239.000000,7.797400,2.751100,215514.000000,3.110826,215923.000000,22135.000000,...,84.000000,54.750000,2017.541626,36.750000,3855.000000,7.000000,20.000000,20.000000,20.000000,20.000000

In [25]:
modified_dataset.isnull().sum()

CaseID                    0
CASEID_NEW                0
qflag                     0
weight1                 516
weight1_freqwt          516
                       ...
interracial_5cat        145
partner_mother_yrsed    187
subject_mother_yrsed    132
partner_yrsed           127
subject_yrsed             0
Length: 285, dtype: int64

In [26]:
modified_dataset.columns.values

array(['CaseID', 'CASEID_NEW', 'qflag', 'weight1', 'weight1_freqwt',
       'weight2', 'weight1a', 'weight1a_freqwt', 'weight_combo',
       'weight_combo_freqwt', 'duration', 'speed_flag', 'consent', 'xlgb',
       'S1', 'S2', 'S3', 'DOV_Branch', 'Q3_Refused', 'Q4', 'Q5', 'Q6A',
       'Q6B', 'Q9', 'Q10', 'Q11', 'Q12', 'Q14', 'Q15A7', 'Q16',
       'Q16_Refused', 'Q17A', 'Q17B', 'Q17C', 'Q17D', 'Q19', 'Q20',
       'Q21A_Year', 'Q21A_Month', 'Q21B_Year', 'Q21B_Month', 'Q21C_Year',
       'Q21C_Month', 'Q21D_Year', 'Q21D_Month', 'w6_identity',
       'w6_outness', 'w6_outness_timing', 'Q23', 'Q24_Refused', 'Q25',
       'Q26', 'Q27', 'Q28', 'w6_friend_connect_1', 'w6_friend_connect_2',
       'w6_friend_connect_3', 'w6_friend_connect_4',
       'w6_friend_connect_Refused', 'Q32', 'Q34', 'Q35_Refused',
       'w6_sex_frequency', 'w6_otherdate', 'w6_how_many',
       'w6_how_meet_Refused', 'w6_otherdate_app', 'w6_how_many_app',
       'Past_Partner_Q1', 'w6_relationship_end_nonmar',
       'w6_breakup_nonmar', 'w6_relationship_end_mar', 'w6_who_breakup',
       'Q5_2', 'Q6A_2', 'Q9B_2', 'Q10_2', 'Q11_2', 'Q12_2', 'Q14_2',
       'Q15A7_2_1', 'Q16_2', 'Q16_2_Codes', 'Q17B_2', 'Q17C_2', 'Q17D_2',
       'Q20_2', 'Q21A_2_Year', 'Q21A_2_Month', 'Q21B_2_Year',
       'Q21B_2_Month', 'Q21C_2_Year', 'Q21C_2_Month', 'Q21D_2_Year',
       'Q21D_2_Month', 'Q21E_2_Year', 'Q21E_2_Month',
       'Q21F_2_start_range', 'Q21F_2_Year', 'Q21F_2_Month',
       'w6_identity_2', 'w6_outness_2', 'w6_outness_timing_2', 'Q23_2',
       'Q25_2', 'Q26_2', 'Q27_2', 'Q28_2', 'w6_friend_connect_2_1',
       'w6_friend_connect_2_2', 'w6_friend_connect_2_3',
       'w6_friend_connect_2_4', 'w6_friend_connect_2_Refused', 'Q32_2',
       'w6_otherdate_2', 'w6_how_many_2', 'w6_otherdate_app_2',
       'w6_how_many_app_2', 'partyid7', 'PERSNET_hom', 'ppc10017',
       'ppc21310', 'ppp20071', 'ppp20072', 'ppage', 'ppagecat',
       'ppagect4', 'ppeduc', 'ppeducat', 'ppethm', 'ppgender', 'pphhhead',
       'pphhsize', 'pphouse', 'ppincimp', 'ppmarit', 'ppmsacat', 'PPREG4',
       'ppreg9', 'pprent', 'PPT01', 'PPT25', 'PPT612', 'PPT1317',
       'PPT18OV', 'ppwork', 'Race_1', 'Race_2', 'Race_3', 'Race_4',
       'Race_5', 'Race_6', 'race1', 'race2', 'race3', 'race4', 'race5',
       'race6', 'race7', 'race8', 'race9', 'race10', 'race11', 'race12',
       'race13', 'race14', 'race15', 'w6_took_the_survey',
       'w6_prior_identity_lgb', 'w6_same_sex_couple',
       'w6_same_sex_couple_gender', 'w6_q4', 'w6_q5', 'w6_q6a', 'w6_q6b',
       'w6_q9', 'w6_q10', 'w6_q11', 'w6_q12', 'w6_q14',
       'w6_q15a1_truncated', 'w6_q15a4_truncated', 'w6_q15a7', 'w6_q16',
       'w6_q17', 'w6_attraction', 'w6_q19', 'w6_q20', 'w6_q21a_year',
       'w6_q21a_month', 'w6_q21a_month_flag', 'w6_q21b_year',
       'w6_q21b_month', 'w6_q21b_month_flag', 'w6_q21c_year',
       'w6_q21c_month', 'w6_q21c_month_flag', 'w6_q21d_year',
       'w6_q21d_month', 'w6_q21e_year', 'w6_q21e_month', 'w6_q21f_year',
       'w6_q21f_month', 'w6_identity_all', 'w6_outness_all',
       'w6_outness_timing_all', 'w6_q23', 'w6_q24_length', 'w6_q25',
       'w6_q26', 'w6_q27', 'w6_q28', 'w6_friend_connect_1_all',
       'w6_friend_connect_2_all', 'w6_friend_connect_3_all',
       'w6_friend_connect_4_all', 'w6_q32', 'w6_q34', 'w6_otherdate_all',
       'w6_how_many_all', 'w6_otherdate_app_all', 'w6_how_many_app_all',
       'w6_number_people_met', 'w6_otherdate_dichotomous', 'w6_married',
       'relate_duration_at_w6_years', 'w6_number_people_met_app',
       'weight_combo_v2', 'partnership_status', 'female',
       'year_fraction_met', 'year_fraction_relstart', 'age_when_met',
       'time_from_met_to_rel', 'year_fraction_first_cohab',
       'time_from_rel_to_cohab', 'hcm2017q24_R_cowork',
       'hcm2017q24_R_friend', 'hcm2017q24_R_family',
       'hcm2017q24_R_sig_other', 'hcm2017q24_R_neighbor',
       'hcm2017q24_P_cowork', 'hcm2017q24_P_friend',
       'hcm2017q24_P_family', 'hcm2017q24_P_sig_other',
       'hcm2017q24_P_neighbor', 'hcm2017q24_btwn_I_cowork',
       'hcm2017q24_btwn_I_friend', 'hcm2017q24_btwn_I_family',
       'hcm2017q24_btwn_I_sig_other', 'hcm2017q24_btwn_I_neighbor',
       'hcm2017q24_school', 'hcm2017q24_college', 'hcm2017q24_mil',
       'hcm2017q24_church', 'hcm2017q24_vol_org', 'hcm2017q24_customer',
       'hcm2017q24_bar_restaurant', 'hcm2017q24_party',
       'hcm2017q24_internet_other', 'hcm2017q24_internet_dating',
       'hcm2017q24_internet_soc_network', 'hcm2017q24_internet_game',
       'hcm2017q24_internet_chat', 'hcm2017q24_internet_org',
       'hcm2017q24_public', 'hcm2017q24_blind_date',
       'hcm2017q24_vacation', 'hcm2017q24_single_serve_nonint',
       'hcm2017q24_business_trip', 'hcm2017q24_work_neighbors',
       'hcm2017q24_met_online', 'hcm2017_q24_length',
       'hcm2017q24_summary_all_codes', 'w6_relationship_quality',
       'hcm2017q24_met_through_family', 'hcm2017q24_met_through_friend',
       'hcm2017q24_met_through_as_nghbrs',
       'hcm2017q24_met_as_through_cowork', 'w6_subject_race',
       'interracial_5cat', 'partner_mother_yrsed', 'subject_mother_yrsed',
       'partner_yrsed', 'subject_yrsed'], dtype=object)

In [31]:
modified_dataset = modified_dataset[['CaseID','CASEID_NEW','qflag', 'S1', 'S2', 'S3', 'partyid7', 'PERSNET_hom', 'ppc10017', 'ppc21310', 'ppp20071', 'ppp20072', 'ppage', 'ppeduc', 'ppethm', 'ppgender','ppmarit','ppmsacat','ppwork','Q17A', 'Q17C','Q17B_2']]
modified_dataset.head(3510)

,CaseID,CASEID_NEW,qflag,S1,S2,S3,partyid7,PERSNET_hom,ppc10017,ppc21310,...,ppage,ppeduc,ppethm,ppgender,ppmarit,ppmsacat,ppwork,Q17A,Q17C,Q17B_2
0,2,2014039,Qualified,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,Leans Democrat,Yes,Yes,Every day,...,30,Associate degree,"White, Non-Hispanic",Male,Divorced,Metro,Working - as a paid employee,NaN,NaN,Once
1,3,2019003,Qualified,"Yes, I am Married",NaN,NaN,Not Strong Republican,Not asked,Yes,Every day,...,55,Masters degree,"White, Non-Hispanic",Female,Married,Metro,Not working - other,Once (this is my first marriage),I am sexually attracted only to men,NaN
2,5,2145527,Qualified,"Yes, I am Married",NaN,NaN,Leans Democrat,Yes,Yes,Every day,...,47,Masters degree,"White, Non-Hispanic",Male,Married,Metro,Working - as a paid employee,Once (this is my first marriage),NaN,NaN
3,6,2648857,Qualified,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,Strong Democrat,Yes,Yes,Every day,...,28,12th grade NO DIPLOMA,"White, Non-Hispanic",Female,Never married,Metro,Not working - other,NaN,NaN,Never married
4,7,2623465,Qualified,"Yes, I am Married",NaN,NaN,Strong Democrat,Yes,Yes,Every day,...,59,Bachelors degree,"White, Non-Hispanic",Female,Married,Metro,Working - as a paid employee,Once (this is my first marriage),"I am mostly sexually attracted to men, less of...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3505,4304,1228389,Qualified,"Yes, I am Married",NaN,NaN,Strong Democrat,Not asked,Yes,Every day,...,27,Masters degree,"White, Non-Hispanic",Female,Never married,Metro,Working - as a paid employee,Once (this is my first marriage),"I am mostly sexually attracted to men, less of...",NaN
3506,4305,2480357,Qualified,"No, I am not Married",I have a romantic partner who is not yet a sex...,NaN,Not Strong Republican,Yes,Yes,Every day,...,24,Bachelors degree,"White, Non-Hispanic",Male,Never married,Metro,Working - as a paid employee,NaN,NaN,NaN
3507,4307,2090075,Qualified,"Yes, I am Married",NaN,NaN,Not Strong Democrat,Yes,Yes,Every day,...,41,Bachelors degree,"White, Non-Hispanic",Male,Married,Metro,Working - as a paid employee,Once (this is my first marriage),NaN,NaN
3508,4309,2914837,Qualified,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,Leans Democrat,Yes,Not asked,Not asked,...,32,Masters degree,"White, Non-Hispanic",Male,Living with partner,Metro,Working - as a paid employee,NaN,NaN,NaN
3509,4311,2747613,Qualified,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,Leans Democrat,Yes,Yes,At least once a week but not every day,...,43,Bachelors degree,Hispanic,Female,Living with partner,Metro,Working - as a paid employee,NaN,I am equally sexually attracted to men and women,NaN